@media screen and (max-width: 1024px) {
  .main-page__desc__right-side div button {
    border-radius: 15px !important;
  }
  .main-page__desc__right-side div button span:nth-child(1) {
    font-size: 50px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1028px) {
  .main-page__desc__right-side {
    padding-right: 46px !important;
  }
  .main-page__desc__right-side div button span:nth-child(1) {
    font-size: 30px !important;
  }
  .main-page__desc__left-side {
    padding-left: 78px !important;
  }
}

@media screen and (min-width: 1029px) {
  .main-page__desc__right-side {
    padding-right: 152px !important;
  }
  .main-page__desc__left-side {
    padding-left: 95px !important;
  }
}

@media screen and (min-width: 1535px) {
  .main-page__desc__right-side {
    padding-right: 190px !important;
  }
  .main-page__desc__left-side {
    padding-left: 114px !important;
  }
}

@media screen and (min-width: 300px) {
  .main-page__items__wrapper {
    width: 484px;
    overflow-x: scroll;
    height: 330px;
  }
}

.main-page .main-page__desc {
  background-color: #F9FAFE;
  padding-top: 60px;
  padding-bottom: 100px;
}

.main-page .main-page__desc .main-page__desc__right-side {
  padding-left: 25px;
}

.main-page .main-page__desc .main-page__desc__right-side p {
  font-size: 18px;
  font-weight: 400;
}

.main-page .main-page__desc .main-page__desc__right-side ul li:nth-child(1)::after {
  display: none;
}

.main-page .main-page__desc .main-page__desc__right-side ul li::after {
  content: '';
  position: absolute;
  top: 12px;
  right: -25px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FF673A;
}

.main-page .main-page__desc .main-page__desc__right-side div button {
  border-radius: 70px;
  background-color: #fff;
  border: none;
}

.main-page .main-page__desc .main-page__desc__right-side div button span:nth-child(1) {
  font-size: 50px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #F8F1EB;
  color: #FF673A;
}

.main-page .main-page__desc .main-page__desc__left-side img {
  width: 450px;
  height: 500px;
  border-radius: 0 0 50px 0;
}

.main-page .main-page__items {
  margin-bottom: 200px;
}

.main-page .main-page__items .main-page__items__wrapper div {
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.main-page .main-page__items .main-page__items__wrapper .picture img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.main-page .main-page__items .main-page__items__wrapper .second,
.main-page .main-page__items .main-page__items__wrapper .third,
.main-page .main-page__items .main-page__items__wrapper .fourth,
.main-page .main-page__items .main-page__items__wrapper .fifth {
  background-color: #FF7E6D;
  color: #fff;
}

.main-page .main-page__items .main-page__items__wrapper .second .fa-time-line,
.main-page .main-page__items .main-page__items__wrapper .third .fa-time-line,
.main-page .main-page__items .main-page__items__wrapper .fourth .fa-time-line,
.main-page .main-page__items .main-page__items__wrapper .fifth .fa-time-line {
  font-size: 40px;
}

.main-page .main-page__items .main-page__items__wrapper .second div button,
.main-page .main-page__items .main-page__items__wrapper .third div button,
.main-page .main-page__items .main-page__items__wrapper .fourth div button,
.main-page .main-page__items .main-page__items__wrapper .fifth div button {
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: #fff;
  font-weight: 500;
}

.main-page .main-page__items .main-page__items__wrapper .second p,
.main-page .main-page__items .main-page__items__wrapper .third p,
.main-page .main-page__items .main-page__items__wrapper .fourth p,
.main-page .main-page__items .main-page__items__wrapper .fifth p {
  margin-bottom: 130px;
}

.main-page .main-page__items .main-page__items__wrapper .third {
  background-color: #FFCC3B;
}

.main-page .main-page__items .main-page__items__wrapper .fourth {
  background-color: #27CBA4;
}

.main-page .main-page__items .main-page__items__wrapper .fifth {
  background-color: #4878E6;
}

.main-page .main-page__button {
  position: fixed;
  border: none;
  display: none;
  left: 30px;
  bottom: 40px;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #7C7D7F;
  color: #fff;
}

.main-page .main-page__button .fa-angle-up {
  font-size: 30px;
}
/*# sourceMappingURL=main-page.css.map */