@media screen and (max-width: 1024px) {
  .main-page__desc {
    padding: 0 1rem;
  }
  .main-page__desc__right-side div button {
    border-radius: 15px !important;
  }
  .main-page__desc__right-side div button span:nth-child(1) {
    font-size: 50px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1028px) {
  .main-page__desc {
    padding: 0 63px;
  }
  .main-page__items {
    padding: 0 75px;
  }
  .main-page__desc__right-side div button span:nth-child(1) {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1029px) {
  .main-page__desc {
    padding: 0 164px;
  }
  .main-page__items__wrapper__card {
    width: 330px !important;
    height: 330px !important;
  }
  .main-page__items {
    padding: 0 172px;
  }
  .main-page__introduction {
    padding: 0 157px !important;
  }
  .main-page__introduction .main-page__introduction__left-side {
    padding-top: 0 !important;
  }
  .main-page__introduction .main-page__introduction__left-side img {
    width: auto !important;
  }
  .main-page__introduction .main-page__introduction__left-side div {
    bottom: -38px !important;
    left: 80px;
    width: 460px !important;
  }
}

@media screen and (min-width: 1535px) {
  .main-page__desc {
    padding: 0 209px;
  }
  .main-page__items {
    padding: 0 220px;
  }
  .main-page__introduction {
    padding: 0 205px !important;
  }
  .main-page__introduction .main-page__introduction__left-side {
    padding-top: 0 !important;
  }
  .main-page__introduction .main-page__introduction__left-side img {
    width: auto !important;
  }
  .main-page__introduction .main-page__introduction__left-side div {
    bottom: -38px !important;
    left: 80px;
    width: 460px !important;
  }
}

@media screen and (max-width: 505px) {
  .main-page__items__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 484px;
    overflow-x: scroll;
    height: 330px;
    overflow-y: hidden;
  }
  .main-page__introduction {
    margin-top: 3rem;
    padding: 0 1rem;
  }
  .main-page__introduction .main-page__introduction__right-side {
    padding-top: 110px;
  }
  .main-page__introduction .main-page__introduction__right-side h1::after {
    right: 200px !important;
    top: 74px !important;
  }
  .main-page__introduction .main-page__introduction__right-side p:nth-child(2) {
    line-height: 35px;
  }
  .main-page__introduction .main-page__introduction__left-side div {
    bottom: -69px !important;
    left: 0px !important;
    width: 445px !important;
    border-radius: 0 0 75px 0;
  }
}

@media screen and (min-width: 1023px) {
  .grid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .main-page__introduction {
    padding: 0 56px;
  }
  .main-page__introduction .main-page__introduction__right-side {
    padding-top: 110px;
  }
  .main-page__introduction .main-page__introduction__right-side h1::after {
    position: absolute;
    content: '';
    right: 0;
    top: 74px;
    width: 60px;
    height: 3px;
    background-color: #E7E7E7;
  }
  .main-page__introduction .main-page__introduction__left-side {
    padding-top: 166px;
  }
  .main-page__introduction .main-page__introduction__left-side img {
    width: 365px;
    border-radius: 85px 0 85px 0;
  }
  .main-page__introduction .main-page__introduction__left-side div {
    bottom: -69px;
    left: 80px;
    width: 380px;
    border-radius: 0 0 75px 0;
  }
  .main-page__introduction .main-page__introduction__left-side div .fa-trophy {
    font-size: 55px;
  }
  .main-page__introduction .main-page__introduction__left-side div p span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
  }
  .main-page__introduction .main-page__introduction__left-side div p span:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }
}

.main-page .main-page__desc {
  background-color: #F9FAFE;
  padding-bottom: 100px;
}

.main-page .main-page__desc .main-page__desc__right-side p {
  font-size: 18px;
  font-weight: 400;
}

.main-page .main-page__desc .main-page__desc__right-side ul li:nth-child(1)::after {
  display: none;
}

.main-page .main-page__desc .main-page__desc__right-side ul li::after {
  content: '';
  position: absolute;
  top: 12px;
  right: -25px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FF673A;
}

.main-page .main-page__desc .main-page__desc__right-side div button {
  border-radius: 70px;
  background-color: #fff;
  border: none;
}

.main-page .main-page__desc .main-page__desc__right-side div button span:nth-child(1) {
  font-size: 50px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #F8F1EB;
  color: #FF673A;
}

.main-page .main-page__desc .main-page__desc__left-side {
  z-index: 0;
  width: 450px;
  height: 500px;
}

.main-page .main-page__desc .main-page__desc__left-side img {
  border-radius: 0 0 50px 0;
  height: 100%;
}

.main-page .main-page__items .main-page__items__wrapper .main-page__items__wrapper__card {
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.main-page .main-page__items .main-page__items__wrapper .picture img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.main-page .main-page__items .main-page__items__wrapper .second,
.main-page .main-page__items .main-page__items__wrapper .third,
.main-page .main-page__items .main-page__items__wrapper .fourth,
.main-page .main-page__items .main-page__items__wrapper .fifth {
  background-color: #FF7E6D;
  color: #fff;
}

.main-page .main-page__items .main-page__items__wrapper .second .fa-time-line,
.main-page .main-page__items .main-page__items__wrapper .third .fa-time-line,
.main-page .main-page__items .main-page__items__wrapper .fourth .fa-time-line,
.main-page .main-page__items .main-page__items__wrapper .fifth .fa-time-line {
  font-size: 40px;
}

.main-page .main-page__items .main-page__items__wrapper .second div button,
.main-page .main-page__items .main-page__items__wrapper .third div button,
.main-page .main-page__items .main-page__items__wrapper .fourth div button,
.main-page .main-page__items .main-page__items__wrapper .fifth div button {
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: #fff;
  font-weight: 500;
}

.main-page .main-page__items .main-page__items__wrapper .second p,
.main-page .main-page__items .main-page__items__wrapper .third p,
.main-page .main-page__items .main-page__items__wrapper .fourth p,
.main-page .main-page__items .main-page__items__wrapper .fifth p {
  margin-bottom: 130px;
}

.main-page .main-page__items .main-page__items__wrapper .third {
  background-color: #FFCC3B;
}

.main-page .main-page__items .main-page__items__wrapper .fourth {
  background-color: #27CBA4;
}

.main-page .main-page__items .main-page__items__wrapper .fifth {
  background-color: #4878E6;
}

.main-page .main-page__introduction {
  margin-top: 110px;
}

.main-page .main-page__introduction .main-page__introduction__right-side {
  padding-top: 110px;
}

.main-page .main-page__introduction .main-page__introduction__right-side h1::after {
  position: absolute;
  content: '';
  right: 0;
  top: 74px;
  width: 60px;
  height: 3px;
  background-color: #E7E7E7;
}

.main-page .main-page__introduction .main-page__introduction__right-side p:nth-child(2) {
  margin-top: 80px;
  color: #767676;
  line-height: 30px;
}

.main-page .main-page__introduction .main-page__introduction__right-side p:nth-child(3) {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
}

.main-page .main-page__introduction .main-page__introduction__right-side div button {
  border-radius: 30px;
  color: #fff;
  background-color: #000;
  border: none;
}

.main-page .main-page__introduction .main-page__introduction__right-side div .hover-button {
  -webkit-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
  border-radius: 10px;
  background-color: #267ffd;
}

.main-page .main-page__introduction .main-page__introduction__left-side div {
  bottom: -69px;
  left: 80px;
  width: 380px;
  background-color: #FF673A;
  border-radius: 0 0 75px 0;
  color: #fff;
}

.main-page .main-page__introduction .main-page__introduction__left-side div .fa-trophy {
  font-size: 55px;
}

.main-page .main-page__introduction .main-page__introduction__left-side div p span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}

.main-page .main-page__introduction .main-page__introduction__left-side div p span:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.main-page .main-page__introducing-team {
  margin: 190px 0;
}

.main-page .main-page__introducing-team .main-page__introducing-team__wrapper img {
  height: 400px;
}

.main-page .main-page__introducing-team .main-page__introducing-team__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.main-page .main-page__button {
  position: fixed;
  border: none;
  display: none;
  left: 30px;
  bottom: 40px;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #7C7D7F;
  color: #fff;
  z-index: 100;
}

.main-page .main-page__button .fa-angle-up {
  font-size: 30px;
}
/*# sourceMappingURL=main-page.css.map */