//varibels
$default-padding: 0 210px;
$defaualt-orange-color: #FF673A;

//animations
@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

//custom media
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header__bar {
    padding: 0 45px !important;
  }
}

@media screen and (max-width: 991px) {
  .header__menu__logo {
    img {
      width: 140px !important;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header__menu {
    padding: 0 56px !important;
  }
}

@media screen and (min-width: 1180px) {
  .header__bar {
    padding: 0 120px !important;
  }

  .header__menu {
    padding: 0 161px !important;
  }
}
@media screen and (min-width: 1440px) {
  .header__bar {
    padding: 0 160px !important;
  }

  .header__menu {
    padding: 0 201px !important;
  }
}

//header components
.header {
  .header__bar {
    background-color: #f9fafe;


    .header__bar__link {
      img {
        width: 30px;
        height: 30px;
        border-radius: 8px;
      }
    }

    .header__bar__phone {
      background-color: $defaualt-orange-color;
      color: #fff;
    }
  }

  .header__menu {
    .header__menu__dropdown {
      z-index: 10;
      .header__menu__dropdown__icon {
        background-color: transparent;
        border: none;

        span {
          width: 20px;
          height: 2px;
          background-color: #000;
        }
      }

      ul {
        display: none;
        top: 35px;
        width: 500px;
        right: -438px;

        .header__menu__dropdown__option {
          padding-right: 20px;
          list-style: none;
          text-decoration: none;
          color: #353535;
          font-size: 14px;
          font-weight: 500;
          transition: color 0.2s ease;

          &:hover {
            color: #FF6F44;
          }
        }
      }

      div {
        width: 300px;
        padding-right: 20px;
        input {
          width: 300px;
          background-color: #ECECEC;
          border: none;
          border-radius: 8px;

          &::placeholder {
            position: absolute;
            top: 15px;
            color: #000;
          }

          &:focus {
            outline: none;
          }
        }

        button {
          background-color: transparent;
          border: none;

          .fa-search {
            top: 22px;
            left: 15px;
            transition: color 0.2s ease;

            &:hover {
              color: #FF6F44;
            }
          }
        }
      }

      .show-dropdown {
        .line-one {
          transition: transform 0.4s ease;
          transform: rotate(50deg);
        }

        .line-two {
          visibility: hidden;
        }

        .line-three {
          position: absolute;
          top: 6px;
          transition: transform 0.4s ease;
          transform: rotate(134deg);
        }
      }
    }

    .header__menu__items {
      li {
        display: inline-block;
        text-decoration: none;
        color: #353535;
        font-size: 14px;
        font-weight: 500;
        transition: color 0.2s ease;

        &:hover {
          color: #FF6F44;
        }
      }

      button {
        color: #353535;
        background-color: transparent;
        border: none;

        div {
          z-index:10;
          visibility: hidden;
          border: 2px solid #ECECEC;
          left: -3px;
          top: 40px;
          width: 250px;

          input {
            border-radius: 25px;
            border: none;
            background-color: #F8F8F8;

            &:focus {
              outline: none;
            }

            &::placeholder {
              font-size: 13px;
              top: 9px;
              position: absolute;
            }
          }

          button {
            .fa-arrow-left {
              left: 22px;
              top: 12px;
              transition: color 0.2s ease;

              &:hover {
                color: $defaualt-orange-color;
              }
            }

          }
        }

      }
    }
  }

  .active-item {
    color: $defaualt-orange-color  !important;
  }
}